## Deliverable 3. Create a Travel Itinerary Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Paita,PE,62.80,broken clouds,-5.09,-81.11,Hotel Náutico de Paita
1,21,Yellowknife,CA,62.83,light rain,62.46,-114.35,The Explorer Hotel
2,40,Fortuna,US,61.86,scattered clouds,40.60,-124.16,Super 8 by Wyndham Fortuna
3,58,Busselton,AU,62.31,overcast clouds,-33.65,115.33,Observatory Guest House
4,82,East London,ZA,63.10,light rain,-33.02,27.91,Tu Casa

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.

figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

markers = gmaps.marker_layer(locations, info_box_content = vacation_info)

# 4b. Display the figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method.
cities_itinerary_df = pd.DataFrame(vacation_df.loc[vacation_df["Country"] == "AU"])
city_list = cities_itinerary_df["City"].tolist()

# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == city_list[0]]
vacation_end = vacation_df.loc[vacation_df["City"] == city_list[0]]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city_list[1]]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city_list[2]]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city_list[3]]

In [15]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(layout=figure_layout)

city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [8]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
<dt>Hotel Option</dt><dd>{Hotel Name}</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in cities_itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = cities_itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(layout=figure_layout)
vacation_markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# 11b. Display the figure
fig.add_layer(vacation_markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,58,Busselton,AU,62.31,overcast clouds,-33.65,115.33,Observatory Guest House
1,512,Nelson Bay,AU,63.09,broken clouds,-32.72,152.15,Mantra Nelson Bay
2,547,Port Macquarie,AU,62.89,broken clouds,-31.43,152.92,Rydges Port Macquarie
3,582,Coolum Beach,AU,61.34,overcast clouds,-26.53,153.10,Coolum Beach Resort
4,58,Busselton,AU,62.31,overcast clouds,-33.65,115.33,Observatory Guest House